name: Build KoStore

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build with PyInstaller
        run: pyinstaller build.spec

     
      - name: Zip result (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          Compress-Archive -Path dist\* -DestinationPath dist\KoStore-${{ matrix.os }}.zip

      - name: Zip result (macOS/Linux)
        if: runner.os != 'Windows'
        run: |
          # macOS: zip ist meistens installiert, Ubuntu evtl. installieren
          if [ "$(uname)" = "Linux" ]; then
            sudo apt-get update && sudo apt-get install -y zip
          fi
          cd dist
          zip -r KoStore-${{ matrix.os }}.zip *

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: KoStore Auto Build
          files: dist/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
